<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jint" version="2.10.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="NLog" version="4.4.3" targetFramework="net461" />
  <package id="NLog.Config" version="4.4.3" targetFramework="net461" />
  <package id="NLog.Schema" version="4.4.3" targetFramework="net461" />
  <package id="Noesis.Javascript" version="0.7.1.0" targetFramework="net461" />
  <package id="RC.Core" version="9.1.2.12250" targetFramework="net461" />
</packages>